<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Image Batch Tools" Language="2052" Version="1.0.0.0" 
             Manufacturer="Hubert" UpgradeCode="12345678-1234-1234-1234-123456789012" 
             Codepage="1252">
        
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" 
                 SummaryCodepage="1252" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <!-- 图标配置 -->
        <Icon Id="icon.ico" SourceFile="logo.ico"/>
        <Property Id="ARPPRODUCTICON" Value="icon.ico"/>

        <Feature Id="ProductFeature" Title="Image Batch Tools" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>

        <!-- UI -->
        <UIRef Id="WixUI_InstallDir" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="ImageBatchTools">
                    <!-- 添加 Resources 目录 -->
                    <Directory Id="ResourcesDir" Name="Resources">
                        <Component Id="IconComponent" Guid="*">
                            <File Id="LogoIcon" 
                                  Source="logo.ico"
                                  KeyPath="yes"/>
                        </Component>
                    </Directory>
                    
                    <!-- 其他组件保持不变 -->
                    <Component Id="MainExecutable" Guid="*">
                        <File Id="ImageBatchToolsEXE" 
                              Source="..\ImageBatchTools\bin\Release\net9.0-windows\ImageBatchTools.exe" 
                              KeyPath="yes" />
                    </Component>

                    <!-- 运行时文件，拆分成独立组件 -->
                    <Component Id="ImageBatchToolsDLLComponent" Guid="*">
                        <File Id="ImageBatchToolsDLL" 
                              Source="..\ImageBatchTools\bin\Release\net9.0-windows\ImageBatchTools.dll"
                              KeyPath="yes" />
                    </Component>
                    
                    <Component Id="RuntimeConfigComponent" Guid="*">
                        <File Id="RuntimeConfigJson" 
                              Source="..\ImageBatchTools\bin\Release\net9.0-windows\ImageBatchTools.runtimeconfig.json"
                              KeyPath="yes" />
                    </Component>
                    
                    <Component Id="DepsComponent" Guid="*">
                        <File Id="DepsJson" 
                              Source="..\ImageBatchTools\bin\Release\net9.0-windows\ImageBatchTools.deps.json"
                              KeyPath="yes" />
                    </Component>

                    <!-- Magick.NET 组件，也需要拆分 -->
                    <!-- Magick.NET 组件 -->
                    <Component Id="MagickNetCoreComponent" Guid="*">
                        <File Id="MagickNETCore" 
                              Source="..\ImageBatchTools\bin\Release\net9.0-windows\Magick.NET.Core.dll"
                              KeyPath="yes" />
                    </Component>
                    <Component Id="MagickNetQ16Component" Guid="*">
                        <File Id="MagickNETQ16" 
                              Source="..\ImageBatchTools\bin\Release\net9.0-windows\Magick.NET-Q16-AnyCPU.dll"
                              KeyPath="yes" />
                    </Component>
                    
                    <!-- 添加 ImageMagick 原生依赖 -->
                    <Component Id="MagickNativeComponent" Guid="*">
                        <File Id="MagickNativeQ16" 
                              Source="..\ImageBatchTools\bin\Release\net9.0-windows\win-x64\Magick.Native-Q16-x64.dll"
                              KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
            
            <!-- 开始菜单快捷方式 -->
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Image Batch Tools">
                    <Component Id="ApplicationShortcutFolder" Guid="*">
                        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                        <RegistryValue Root="HKCU" 
                                     Key="Software\Hubert\ImageBatchTools" 
                                     Name="installed" 
                                     Type="integer" 
                                     Value="1" 
                                     KeyPath="yes"/>
                    </Component>
                </Directory>
            </Directory>

            <!-- 桌面快捷方式 -->
            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="MainShortcuts" Guid="*">
                    <Shortcut Id="ApplicationDesktopShortcut"
                             Name="Image Batch Tools"
                             Description="Image Batch Processing Tool"
                             Target="[INSTALLFOLDER]ImageBatchTools.exe"
                             WorkingDirectory="INSTALLFOLDER"
                             Icon="icon.ico"/>  <!-- 使用图标ID而不是路径 -->
                    <RegistryValue Root="HKCU" 
                                 Key="Software\Hubert\ImageBatchTools" 
                                 Name="desktop_shortcut" 
                                 Type="integer" 
                                 Value="1" 
                                 KeyPath="yes"/>
                </Component>
            </Directory>
        </Directory>  <!-- 只需要一个结束标签来关闭 TARGETDIR -->
        
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="MainExecutable"/>
            <ComponentRef Id="ImageBatchToolsDLLComponent"/>
            <ComponentRef Id="RuntimeConfigComponent"/>
            <ComponentRef Id="DepsComponent"/>
            <ComponentRef Id="MagickNetCoreComponent"/>
            <ComponentRef Id="MagickNetQ16Component"/>
            <!-- 添加新组件引用 -->
            <ComponentRef Id="MagickNativeComponent"/>
            <ComponentRef Id="IconComponent"/>
            <ComponentRef Id="MainShortcuts"/>
            <ComponentRef Id="ApplicationShortcutFolder"/>
        </ComponentGroup>
    </Product>
</Wix>